{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            {% if page.seo_title %}
                {{ page.seo_title }}
            {% else %}
                {{ page.title }}
            {% endif %}
        {% endblock %}
        {% block title_suffix %}
            | Squidalytics
        {% endblock %}
    </title>
    {% block extra_head %}{% endblock %}
    
    <!-- Include the MathJax library -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="{% static 'js/mathjax-config.js' %}"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://kit.fontawesome.com/1df894441a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body class="block has-navbar-fixed-top">
    {% block header %}
        {% include "includes/header.html" with parent=site_root calling_page=self %}
    {% endblock header %}

    <main class="content">
        {% block content %}{% endblock %}
    </main>

    {% include "includes/footer.html" %}

    {% block extra_scripts %}{% endblock %}
    <script type="module" src="{% static 'js/main.js' %}"></script>
</body>
</html>
