@font-face {
    font-family: 'Splatfont2';
    src: url('/static/fonts/Splatfont2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

html, body {
    font-family: 'Splatfont2', sans-serif;
}

.content .box {
    background-color: #c0c0c0;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}