{% extends "cms/articles/blog_base.html" %}
{% load wagtailimages_tags wagtailcore_tags static %}

{% block content %}
{% image self.image fill-1920x600 as hero_img %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog__meta">
                    {% if page.authors %}
                        <div class="blog__avatars">
                            {% for author in page.authors %}
                                <div class="blog__author">{% image author.image fill-50x50-c100 class="blog__avatar" %}
                                    {{ author.display_name }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
                <h4 class="audience-select">Select your version of this article</h4>
                <div class="version-selector field">
                    <p class="control has-icons-left">
                        <span class="select">
                            <select id="version-selector">
                                {% for block in page.versions %}
                                    <option value="{{ block.value.audience_name }}">{{ block.value.audience_name }}</option>
                                {% endfor %}
                            </select>
                        </span>
                        <span class="icon is-small is-left" id="selector-icon">
                            <i class="fas fa-globe"></i>
                        </span>
                    </p>
                </div>
                

                {% for block in page.versions %}
                    <div class="version-content" style="display: none;" id="version-{{ block.value.audience_name }}">
                        {% include_block block.value.content %}
                    </div>
                {% endfor %}

                {% if page.get_tags %}
                    <p class="blog__tag-introduction">Find more blog posts with similar tags</p>
                    <div class="blog-tags blog-tags--condensed">
                        <span class="u-sr-only">Filter blog posts by tag</span>
                        {% for tag in page.get_tags %}
                            <a href="{{ tag.url }}" class="blog-tags__pill">{{ tag }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/version-selector.js' %}"></script>
{% endblock content %}