{% load wagtailimages_tags %}

<figure class="box">
    <a class="open-modal-button">
        {% image self.image max-600x338 loading="lazy" %}
    </a>
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            {% image self.image original %}
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    {% if self.caption and self.attribution %}
        <figcaption>{{ self.caption }} - {{ self.attribution }}</figcaption>
    {% elif self.caption %}
        <figcaption>{{ self.caption }}</figcaption>
    {% elif self.attribution %}
        <figcaption>{{ self.attribution }}</figcaption>
    {% endif %}

</figure>
