// Define functions and variables
$accent-color: #ad5ad7;

// Import Bulma's initial variables
@import "../bulma/sass/utilities/initial-variables";

// Override variables
$body-background-color: #363636;
$body-color: #f5f5f5;
$link-color: #f5f5f5;
$link-hover-color: lighten($link-color, 10%);
$content-heading-color: $body-color;
$navbar-background-color: #272727;
$navbar-item-color: #f5f5f5;
$navbar-item-hover-background-color: lighten($navbar-background-color, 10%);
$navbar-item-hover-color: $navbar-item-color;
$footer-background-color: $body-background-color;
$footer-color: $body-color;
$card-background-color: lighten($body-background-color, 10%);
$card-color: $body-color;
$card-header-background-color: $navbar-background-color;
$card-header-color: $navbar-item-color;
$title-color: $body-color;
$subtitle-color: $body-color;

// Import the rest of Bulma
@import "../bulma/bulma";

// Define styles below
@font-face {
    font-family: 'Splatfont2';
    src: url('/static/fonts/Splatfont2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

html, body {
    font-family: 'Splatfont2', sans-serif;
}

.content .box {
    background-color: lighten($body-background-color, 10%);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

#selector-icon {
    color: $accent-color;
}

.date-and-author {
    color: $accent-color;
}