// Define functions and variables
$accent-color: #ad5ad7;
$accent-dark: darken($accent-color, 10%);
$accent-darker: darken($accent-color, 20%);
$accent-light: lighten($accent-color, 10%);
$accent-lighter: lighten($accent-color, 20%);
$white-color: #d6d6d6;
$black-color: #363636;

// Import Bulma's initial variables
@import "../bulma/sass/utilities/initial-variables";

// Override variables
$body-background-color: $black-color;
$body-color: $white-color;
$link-color: $white-color;
$link-hover-color: lighten($link-color, 10%);
$content-heading-color: $body-color;
$navbar-background-color: #272727;
$navbar-item-color: $white-color;
$navbar-item-hover-background-color: lighten($navbar-background-color, 10%);
$navbar-item-hover-color: $navbar-item-color;
$footer-background-color: $body-background-color;
$footer-color: $body-color;
$card-background-color: lighten($body-background-color, 10%);
$card-color: $body-color;
$card-header-background-color: $navbar-background-color;
$card-header-color: $navbar-item-color;
$title-color: $body-color;
$subtitle-color: $body-color;
$text-strong: $body-color;
$text-light: $body-color;

// Import the rest of Bulma
@import "../bulma/bulma";

// Define styles below
@font-face {
    font-family: 'Splatfont2';
    src: url('/static/fonts/Splatfont2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

html, body {
    font-family: 'Splatfont2', sans-serif;
}

.content .box {
    background-color: lighten($body-background-color, 10%);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

#selector-icon {
    color: $accent-color;
}

.select select {
    color: $body-background-color;
}

.blog__author {
    color: $accent-color;
    font-size: 16pt;
}

#blog__byline {
    margin-bottom: 0rem;
}

.blog__meta {
    margin-bottom: 0.75rem;
}

body header.content:first-child {
    margin-bottom: 0.75rem;
}

.date-and-author {
    color: $accent-color;
}

.content .blog-title {
    color: $accent-color;
}

.blog-subtitle {
    color: $accent-dark;
}

.blog-intro {
    color: darken($body-color, 15%);
}

.content .content-block > *:not(:last-child) {
    margin-bottom: $content-block-margin-bottom;
}